.container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        
}
    
button{
        font-size: 30px; 
        padding: 10px 20px;
        margin: 10px; 

}
    
p{
        font-size: 30px; 
        margin: 10px; 
}


.mn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mn button {
    border-radius: 10% 0 0 50%;
}




.janela-modal {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
}